# ===================================================================
# artellapipe-tools-assetslibrary requirements file
# ===================================================================
artellapipe